html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainLayout {
  height: 100%;
  display: flex;
}

.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
}

.mainLayout main {
  padding-left: 250px;
}
